.venda-card {
  margin-top: 3vh;
}

.form-control:focus {
  border-color: #84aadc;
}


.input-group {
  max-width: 50vw;
}

.search-field {
  height: 100%;
}

.btn-search {
  background-color: #6284b0;
  height: 100%;
}
.btn-primary {
  background-color: #84aadc;
}

.btn-add-user {
  background-color: #60ae70;
  color: white;
}

.select-container {
  width: 30vw;
}

.btn-dropdown{
  background-color: #6284b0;
  color: #ffffff;
  height: 100%;
  width: 20vw;
}

.btn-dropdown:focus{
  background-color: #6284b0;
  color: #ffffff;
  height: 100%;
  width: 20vw;
}

.btn-dropdown-selected{
  height: 100%;
  width: 20vw;
  background-color: #84aadc;
  color: #ffffff;
}
.btn-dropdown-selected:focus{
  height: 100%;
  width: 20vw;
  background-color: #84aadc;
  color: #ffffff;
}

.dropdown-menu{
  width: 20vw;
}

.inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 5vh;
  width: 100%;
}

.table-container {
  width: 76vw;
  height: 52vh;
  margin-top: 3vh;
}

.table-produtos thead{
  background-color: #b4c0d0;
  color: #040303;
}


.discount-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
}

.qnt-td {
  display: flex;
  justify-content: space-between;
  padding-left: 12vw;
  padding-right: 12vw;
}

.total-td {
  width: 10vw;
}

.qnt-field {
  height: 5vh;
  width: 5vw;
  text-align: center;
}

.desconto-field {
  width: 5vw;
  text-align: center;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-header {
  position: absolute;
  width: 100%;
  padding: 5px;
  z-index: 1001;
}

.result-list {
  width: 96.3%;
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  border: 1px solid #ddd;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 10px;
}

.cards-container {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
}

.discount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 5vh;
  padding: 0 1vw 0 1vw;
}

.modal-content {
  left: 50%;
  transform: translate(-50%, 0%);
  min-width: 50vw;
  min-height: 60vh;
  max-height: 80vh;
  overflow-y: auto;
}

.small-card {
  height: 16vh;
}

.btn-venda-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-finalizar-venda {
  border-radius: 10px;
  color: #ffffff;
  background-color: #2f3855;
  width: 14vw;
  font-size: 16px;
  min-height: 10vh;
}
.btn-finalizar-venda:disabled {
  color: #ddd;
  background-color: #2f3855;
}

@media screen and (max-width: 800px) {
  .cards-container {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .col-3 {
    width: 90%;
    margin: 15px;
  }
}
