<div class="container mt-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="mb-0 fw-bold">Lista de Produtos</h2>
  
        <button
          type="button"
          class="btn btn-success btn-rounded"
          mdbRipple
          (click)="novoProduto()"
        >
          Cadastrar Novo Produto
        </button>
      </div>
      <div
        class="card-body"
        style="display: flex; justify-content: center; align-items: center"
      >
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead class="table-light">
              <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th class="text-center fw-bold">Ações</th>
              </tr>
            </thead>
            <tbody>
              @for (produto of lista; track $index) {
              <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.valor }}</td>
                <td class="text-center">
                  <button
                    type="button"
                    class="btn btn-sm btn-primary btn-rounded me-2"
                    mdbRipple
                    routerLink="/admin/produto/edit/{{ produto.id }}"
                  >
                    Alterar
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-danger btn-rounded"
                    mdbRipple
                    (click)="desativarProduto(produto)"
                  >
                    Desativar
                  </button>
                </td>
              </tr>
              } @empty {
              <tr>
                <td colspan="4" class="text-center">Nenhum Produto encontrado.</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
