<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="status-card">
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Total</th>
                <th scope="col">Forma de Pagamento</th>
                <th scope="col">Usuário</th>
                <th scope="col">.</th>
              </tr>
            </thead>
            <tbody>
              @for (venda of historicoVendas; track $index) {
              <tr>
                <td>{{ venda.data | date : "shortDate" }}</td>
                <td>{{ venda.total | currency : "BRL" }}</td>
                <td>{{ venda.formaPagamento }}</td>
                <td>{{ venda.usuario.nome }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-md btn-warning btn-rounded mt-2"
                    mdbRipple
                    (click)="openModal(venda)"
                  >
                    +
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalVenda>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Detalhes da venda</h3>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>{{ selectVenda?.data | date }}</strong>
    </p>
    <p>
      <strong>{{ selectVenda?.usuario?.nome }}</strong>
    </p>
    <p>
      <strong>{{ selectVenda?.formaPagamento }}</strong>
    </p>
    <p>
      <strong>{{ selectVenda?.total | currency : "BRL" }}</strong>
    </p>

    <h6>Produtos:</h6>
    @for ( produto of selectVenda?.produtosVenda; track produto.id) {
    <div>
      <p><strong>Nome:</strong> {{ produto.produto.nome }}</p>
      <p><strong>Quantidade:</strong> {{ produto.quantidade }}</p>
      <p>
        <strong>Preço:</strong> {{ produto.produto.preco | currency : "BRL" }}
      </p>
      <hr />
    </div>
    }
  </div>
</ng-template>
