<div class="login-container">
  <div class="image-section">
      <img src="https://i.pinimg.com/originals/e5/e8/30/e5e830f89f89f0259e1d705e14a5de93.gif" alt="Ilustração de login" />
  </div>

  <div class="form-section">
      <h5>Login</h5>
      <p>Seja bem-vindo, realize o login para entrar.</p>
      
      <div class="input-container">
          <input type="text" placeholder="Usuário" [(ngModel)]="login.username">
          <i class="fas fa-user"></i> <!-- Ícone de usuário dentro do input -->
      </div>
      
      <div class="input-container">
          <input type="password" placeholder="Senha" [(ngModel)]="login.senha">
          <i class="fas fa-lock"></i> <!-- Ícone de cadeado dentro do input -->
      </div>
      
      <button type="button" (click)="autenticar()">Entrar</button>
  </div>
</div>
