<div class="container mt-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="mb-0 fw-bold">Lista de Usuários</h2>
        
          <button type="button" class="btn btn-success btn-rounded" mdbRipple>
            Cadastrar Novo Usuário
          </button>
        
      </div>
      <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead class="table-light">
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Função</th>
                @if (isGestor) {
                  <th class="text-center fw-bold">Ações</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (usuario of listaAtiva; track usuario.id) {
                <tr>
                  <td>{{ usuario.id }}</td>
                  <td>{{ usuario.nome }}</td>
                  <td>{{ usuario.login }}</td>
                  <td>{{ usuario.role }}</td>
                  
                    <td class="text-center">
                      <button type="button" class="btn btn-sm btn-primary btn-rounded me-2" >
                        Alterar
                      </button>
                      <button type="button" class="btn btn-sm btn-danger btn-rounded" ]>
                        Desativar
                      </button>
                    </td>
                </tr>
              } @empty {
                <tr>
                    <td class="text-center">Nenhum Usuário encontrado.</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  